<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="serverSection"
         type="exampleWS.ConnectionSection, exampleWS"/>
    </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="loopTimerInMinutes" value="15" />
    <add key ="done_Folder" value ="Done"/>
  </appSettings>
  
  <serverSection>
    <Servers>

      <Element name="sftp_1"
          protocol="SFTP"
          way="upload"
          filename="PREFIX1.XML"
          home="xxx.fr"
          remoteDirectory ="xxx"
          login="xxx"
          pw="xxx"
          localDirectoryPath="C:\TEST\TEST1\"
          localDoneDirectoryPath="C:\TEST\TEST1\Done\"
          localCommand ="REMOVE_DATESTAMP"
          remoteCommand ="NO_OVERWRITE"
           />
      
        <Element name="sftp_2"
          protocol="SFTP"
          way="download"
          filename="PREFIX2.txt"
          home="xxx.fr"
          remoteDirectory ="start"
          login="xxx"
          pw="xxx"
          localDirectoryPath="C:\TEST\TEST2\"
          localCommand ="ADD_TIMESTAMP"
          remoteCommand =""
           />

        <Element name="sftp_3"
         protocol="SFTP"
         way="upload"
         filename="RRMT01STBDEXMAP-CONTRAT.txt"
         home="xxx.com"
         remoteDirectory ="xxx"
         login="xxx"
         pw="xxx"
         localDirectoryPath="C:\TEST\TEST3\"
         localDoneDirectoryPath="C:\TEST\TEST3\Done\"
         localCommand ="REMOVE_TIMESTAMP"
         remoteCommand ="NO_OVERWRITE"
             />
    </Servers>
  </serverSection>
  

</configuration>